.bg-gradient {
    background: #1a237e !important;
    background: -webkit-linear-gradient(315deg,#1a237e 0,#000051 100%) !important;
    background: -o-linear-gradient(315deg,#1a237e 0,#000051 100%) !important;
    background: linear-gradient(135deg,#1a237e 0,#000051 100%) !important;
}

.router-link-active, .router-link-active:hover>i, .router-link-active>a>i, .router-link-active>a>span, .router-link-active>i,
.sidebar .nav li a:hover .fa, .sidebar .nav li a:hover .fas, .sidebar .nav li a:hover .fab, .sidebar .nav li a:hover .far, .sidebar .nav li a:hover .fal,
.sidebar .nav li.active a .fa, .sidebar .nav li.active a .fab, .sidebar .nav li.active a .fal, .sidebar .nav li.active a .far, .sidebar .nav li.active a .fas,
.sidebar .active .nav-label, .sidebar a:hover .nav-label,
.sidebar .nav li a.router-link-active .nav-label,
.navbar-default .navbar-nav .open.active>a, .navbar-default .navbar-nav .open.active>a .fa, .navbar-default .navbar-nav .open.active>a .fab, .navbar-default .navbar-nav .open.active>a .fal, .navbar-default .navbar-nav .open.active>a .far, .navbar-default .navbar-nav .open.active>a .fas, .navbar-default .navbar-nav .open.active>a:focus, .navbar-default .navbar-nav .open.active>a:focus .fa, .navbar-default .navbar-nav .open.active>a:focus .fab, .navbar-default .navbar-nav .open.active>a:focus .fal, .navbar-default .navbar-nav .open.active>a:focus .far, .navbar-default .navbar-nav .open.active>a:focus .fas, .navbar-default .navbar-nav>.active>a .fa, .navbar-default .navbar-nav>.active>a .fab, .navbar-default .navbar-nav>.active>a .fal, .navbar-default .navbar-nav>.active>a .far, .navbar-default .navbar-nav>.active>a .fas, .navbar-default .navbar-nav>.active>a:focus .fa, .navbar-default .navbar-nav>.active>a:focus .fab, .navbar-default .navbar-nav>.active>a:focus .fal, .navbar-default .navbar-nav>.active>a:focus .far, .navbar-default .navbar-nav>.active>a:focus .fas, .navbar-default .navbar-nav>.active>a:hover .fa, .navbar-default .navbar-nav>.active>a:hover .fab, .navbar-default .navbar-nav>.active>a:hover .fal, .navbar-default .navbar-nav>.active>a:hover .far, .navbar-default .navbar-nav>.active>a:hover .fas,
.navbar-default .user .fa, .navbar-default .exit .fa,
.navbar-default .navbar-nav.navbar-right li a, .navbar-default .navbar-nav.navbar-right li a,
.navbar-default .navbar-nav li a:hover, .navbar-default .navbar-nav li a:hover .fa, .navbar-default .navbar-nav li a:hover .fab, .navbar-default .navbar-nav li a:hover .fal, .navbar-default .navbar-nav li a:hover .far, .navbar-default .navbar-nav li a:hover .fas,
.navbar-secondary ul li a:focus:hover, .navbar-secondary ul li a:hover,
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #6803cb !important;
}

body > app-root > app-main > nav > div > div.collapse.navbar-collapse > app-navbar > ul.nav.navbar-nav.base-menu.base-menu_init.base-menu_compact > li > a > i,
body > app-root > app-main > nav > div > div.collapse.navbar-collapse > app-navbar > ul.nav.navbar-nav.navbar-right > li > a,
body > app-root > app-main > div.navbar-secondary > app-navbar-secondary > ul > li > a,
body > app-root > app-main > nav > div > div.collapse.navbar-collapse > app-navbar > ul.nav.navbar-nav.base-menu.base-menu_init.base-menu_compact > li.dropdown.open > ul > li > a,
body > app-root > app-main > nav > div > div.collapse.navbar-collapse > app-navbar > ul.nav.navbar-nav.base-menu.base-menu_init.base-menu_compact > li.dropdown.open > ul > li > a > i,
.navbar-secondary ul li a, .navbar-secondary ul li a,
.sidebar .nav li a .fa, .sidebar .nav li a .fab, .sidebar .nav li a .fal, .sidebar .nav li a .far, .sidebar .nav li a .fas,
.sidebar .nav-label,
.navbar-default .navbar-nav .fa, .navbar-default .navbar-nav .fab, .navbar-default .navbar-nav .fal, .navbar-default .navbar-nav .far, .navbar-default .navbar-nav .fas,
.navbar-default .navbar-nav>.open>a .fa, .navbar-default .navbar-nav>.open>a .fab, .navbar-default .navbar-nav>.open>a .fal, .navbar-default .navbar-nav>.open>a .far, .navbar-default .navbar-nav>.open>a .fas, .navbar-default .navbar-nav>.open>a:focus .fa, .navbar-default .navbar-nav>.open>a:focus .fab, .navbar-default .navbar-nav>.open>a:focus .fal, .navbar-default .navbar-nav>.open>a:focus .far, .navbar-default .navbar-nav>.open>a:focus .fas, .navbar-default .navbar-nav>.open>a:hover .fa, .navbar-default .navbar-nav>.open>a:hover .fab, .navbar-default .navbar-nav>.open>a:hover .fal, .navbar-default .navbar-nav>.open>a:hover .far, .navbar-default .navbar-nav>.open>a:hover .fas,
.navbar-default .navbar-nav .open .dropdown-menu li a,
.navbar-default .navbar-nav .open .dropdown-menu li a .fa, .navbar-default .navbar-nav .open .dropdown-menu li a .fab, .navbar-default .navbar-nav .open .dropdown-menu li a .fal, .navbar-default .navbar-nav .open .dropdown-menu li a .far, .navbar-default .navbar-nav .open .dropdown-menu li a .fas,
.navbar-default .navbar-nav li a, .navbar-default .navbar-nav li a,
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a{
    color: #2b2b2b;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.open>a {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.sidebar .nav li.active,
.sidebar .nav li a.router-link-active {
    border-right: 4px solid #6806cb !important;
}

.navbar-default {
    background-color: #fff !important;

    -webkit-box-shadow: 0px 4px 8px 0px rgba(34, 60, 80, 0.06);
    -moz-box-shadow: 0px 4px 8px 0px rgba(34, 60, 80, 0.06);
    box-shadow: 0px 4px 8px 0px rgba(34, 60, 80, 0.06);

}

.navbar-secondary ul {
    border-top: none !important;
    background-color: #fff !important;
    
    -webkit-box-shadow: 0px 4px 8px 0px rgba(34, 60, 80, 0.06);
    -moz-box-shadow: 0px 4px 8px 0px rgba(34, 60, 80, 0.06);
    box-shadow: 0px 4px 8px 0px rgba(34, 60, 80, 0.06);
}


.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    background-color: #f2f3f6 !important;
}

.navbar-default .navbar-nav .open .dropdown-menu {
    background-color: #f2f3f6 !important;
    -webkit-box-shadow: 0px 4px 5px 0px rgba(34, 60, 80, 0.12);
    -moz-box-shadow: 0px 4px 5px 0px rgba(34, 60, 80, 0.12);
    box-shadow: 0px 4px 5px 0px rgba(34, 60, 80, 0.12);
}

body > app-root > app-main > nav > div > div.collapse.navbar-collapse > app-navbar > ul.nav.navbar-nav.base-menu.base-menu_init.base-menu_compact > li.dropdown.open > ul > li.divider,
.navbar-default .navbar-nav .dropdown-menu .divider {
    background-color: #e3e4e6 !important;
}

.navbar .navbar-nav .open .dropdown-menu>.active>a, .navbar .navbar-nav .open .dropdown-menu>.active>a:focus, .navbar .navbar-nav .open .dropdown-menu>.active>a:hover, .navbar .navbar-nav .open .dropdown-menu>li>a:focus, .navbar .navbar-nav .open .dropdown-menu>li>a:hover {
    color: #6803cb!important;
    background-color: #e4e5e8!important;
}

.sidebar {
    background: #ffffff;
    -webkit-box-shadow: 4px 0px 8px 0px rgba(34, 60, 80, 0.06);
    -moz-box-shadow: 4px 0px 8px 0px rgba(34, 60, 80, 0.06);
    box-shadow: 4px 0px 8px 0px rgba(34, 60, 80, 0.06);
}

.sidebar .nav li a.expand-sidebar,
.sidebar .nav li a.expand-sidebar:hover,
.sidebar .nav li a.js-sidebar-show,
.sidebar .nav li a.js-sidebar-show:hover {
    background-color: #f2f3f6;
}